.app.dark-mode{
  background-color: rgb(7, 7, 7);
  color: white;
}
.app.light-mode{
  background-color: rgb(236, 233, 233);
  color: rgb(12, 12, 12);
}
.app-body{
  margin: 16px;
  overflow-x: hidden;
  height: 100vh;
}
.app{
  height: 100%;
}
